/* GENERAL */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: darkred;
}

main {
    width: 100vw;
    overflow: hidden;
}


/* FLEXBOX */

article,
body,
figure,
header,
main,
nav,
section,
.info,
.info-row,
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>nav {
    flex-direction: row;
}

.info-row {
    flex-direction: row;
    justify-content: space-between;
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    z-index: 2;

    width: 100%;
    height: 4rem;
    background-color: rgba(50, 0, 0, .6);
}

header>nav>a {
    font-family: "Spirax", sans-serif;
    font-size: 2em;
    text-decoration: none;
    color: white;
    margin: 0 2rem;
}

/* ARTICLES */

article {
    position: relative;
    z-index: 0;
    height: 100vh;
}

figure,
img {
    height: 100%;
}

h2,
p {
    color: darkred;
    font-family: "Spirax", sans-serif;
}

h2 {
    font-size: 5em;
}

p {
    font-family: "Poiret One", sans-serif;
    color: white;
}

section {
    position: absolute;
    z-index: 1;
}

#juicy,
#cosy {
    margin-top: 1rem;
}

/* ARTICLE PROFILES */

.profile {
    width: 35rem;
}

.profile p {
    width: 27rem;
    text-align: center;
    background-color: rgba(139, 0, 0, .8);
    color: white;
    padding: .5rem;
}

.info,
.profile>p {
    margin-top: 1.2rem;
}

.info p, 
.profile p {
    font-size: 1em;
}

.profile .profile-1 {
    align-self: flex-start;
}

.profile .profile-2 {
    align-self: flex-end;
}

/* ARTICLE INFO */

.info {
    background-color: rgba(0, 0, 0, .8);
    width: 27rem;
    padding: 1rem 2rem;
}

.info-row {
    width: 100%;
}

/* MEDIA QUERIES MOBILE */

@media screen and (max-width: 600px) {
    header>nav>a {
        margin: 0 1rem;
    }

    .profile {
        width: 17rem;
    }

    .profile .profile-1 {
        width: 100%;
    }

    .profile .profile-2 {
        display: none;
    }

    .info {
        width: 17rem;
        padding: 1rem;
    }
}